.repair-container {
    padding: 15vmin 0;
}

.repair-container h1 {
    width: 50%;
    margin: 0 auto;
    font-size: 5vmin;
    height: 5vmin;
}

.repair-container p {
    width: 50%;
    margin: 5vmin auto 5vmin auto;
    font-size: 2vmin;
    color: var(--secondaryDarkText);
}