.contact-container {
    padding: 10vmin 0;
    background-color: var(--darkText);
    color: var(--main);
}

.contact-container h1 {
    width: 50%;
    margin: 0 auto 3vmin auto;
    font-size: 5vmin;
    text-align: right;
    height: 5vmin;
}

.contact-container div {
    width: 50%;
    margin: 0 auto;
    font-size: 5vmin;
    text-align: right;
    height: 40vmin;
    font-size: 2vmin;
}

.contact-container p {
    width: 100%;
    margin: 2vmin 0 1vmin 0;
}

.contact-container input {
    width: 100%;
    height: 5vmin;
    padding: 2vmin 1vmin 1vmin 1vmin;
    box-sizing: border-box;
    text-align: right;
    font-size: 2vmin;
    background-color: rgb(37, 37, 37);
    border: none;
    color: var(--main)
}

.contact-container>div:first-of-type>input:last-child {
    width: auto;
    margin: 1vmin 0 0 0;
    padding: 1.5vmin 3vmin;
}

.contact-container textarea {
    width: 100%;
    height: 15vmin;
    padding: 1vmin;
    box-sizing: border-box;
    text-align: right;
    font-size: 2vmin;
    background-color: rgb(37, 37, 37);
    border: none;
    color: var(--main);
    resize: none;
    overflow-y: scroll;
}