.serwis-container {
    padding: 10vmin 0;
    box-sizing: border-box;
    /* background-image: url('../svg/serwis.svg'); */
}

.serwis-container h1 {
    width: 50%;
    margin: 0 auto;
    font-size: 5vmin;
    height: 5vmin;
}

.serwis-container p {
    width: 50%;
    margin: 5vmin auto 5vmin auto;
    font-size: 2vmin;
    color: var(--secondaryDarkText);
}

.doswiadczenie {
    width: 50%;
    height: 8vmin;
    margin: 0 auto;
    font-size: 3vmin;
    text-align: center;
}

.doswiadczenie img {
    width: 20%;
    height: 8vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7vmin;
    background-image: url('../svg/10lat.svg');
}

.doswiadczenie>div {
    width: 80%;
    padding: 2.5vmin 2vmin;
    margin: 0;
    white-space: nowrap;
    box-sizing: border-box;
}

.doswiadczenie div {
    float: left;
}

.brand-logos {
    width: 60%;
    height: 23vmin;
    margin: 0 auto;
}

.brand-logos h3 {
    width: 100%;
    height: 3vmin;
    font-size: 2vmin;
}

.brand-logos div {
    width: 20%;
    height: 20vmin;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.apple {
    background-size: 5vmin;
    background-image: url('../svg/apple.svg');
}

.samsung {
    background-size: 18vmin;
    background-image: url('../svg/samsung.svg');
}

.xiaomi {
    background-size: 12vmin;
    background-image: url('../svg/xiaomi.svg');
}

.oppo {
    background-size: 12vmin;
    background-image: url('../svg/oppo.svg');
}

.vivo {
    background-size: 12vmin;
    background-image: url('../svg/vivo.svg');
}