/* ------------------------------------------------------------- GLOW --------------------------------------------------------------- */

@keyframes glow {
    0% {
        text-shadow: 0px 0px 0px #fff;
    }
    10%,
    12% {
        text-shadow: 0 0 50px rgb(255, 255, 255);
        color: var(--secondaryText)
    }
    15%,
    16% {
        text-shadow: 0 0 40px rgba(255, 255, 255, 0.603);
    }
    20%,
    22% {
        text-shadow: 0 0 50px rgb(255, 255, 255);
        color: var(--secondaryText)
    }
    32% {
        text-shadow: 0 0 0 #fff;
        color: var(--main)
    }
}


/* -------------------------------------------------------- FADE IN UPWARDS -------------------------------------------------------- */

@keyframes fadeInUpwards {
    from {
        margin-top: 1vmin;
    }
    to {
        opacity: 1;
        margin-top: 0vmin;
    }
}